/* HEADER */

/** Menu **/
ul#ast-hf-menu-1 li:nth-child(1) {
    width: 174px;
} 

ul#ast-hf-menu-1 li:nth-child(2) {
    width: 110px;
} 

ul#ast-hf-menu-1 .menu-link, ul#astra-footer-menu .menu-link {
    transition: transform 0.3s ease;
}

ul#ast-hf-menu-1 .menu-link:hover, ul#astra-footer-menu .menu-link:hover{
    font-weight: 700;
    /** Taille de la police de 13px **/
    transform: scale(0.9);
}

ul#ast-hf-menu-1 li, #astra-footer-menu #menu-item-79 {
    transition: transform 0.3s ease;
}

ul#ast-hf-menu-1 li:hover, #astra-footer-menu #menu-item-79:hover {
    transform: scale(0.9);
}

.main-header-menu .menu-item, #astra-footer-menu .menu-item, .main-header-bar .ast-masthead-custom-menu-items {
    align-items:center;
}

/** Suppression du border-bottom gris clair affiché par défaut**/
.ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item {
    border-bottom: 0;
}

/** BOUTON "commander" du header **/
header .ast-custom-button {
    width: 236px;
    height: 80px;
}

/* PAGE ACCUEIL */
/** Courbe du bottom du block Hero **/
.wp-block-columns.custom-header-separator.has-ast-global-color-1-background-color.has-background.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex {
    border-bottom-right-radius: 400px 57px !important;
    border-bottom-left-radius: 400px 57px !important;
}

/** Hero: Montage de l'image de la canette de l'Accueil**/
.wp-block-group.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-2.wp-block-group-is-layout-flex {
    position: relative;
}

.wp-block-group.is-content-justification-center.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-1.wp-block-group-is-layout-flex {
    position: relative;
}

figure.wp-block-image.size-full.is-resized.drink-img {
    position: absolute;
    bottom: 85px;
    padding-right: 32px;
}

P.plants-energy-text span {
    display:block;
}

/** BLOCK 3: "Les goûts" **/
.wp-container-core-group-is-layout-3.wp-container-core-group-is-layout-3 {
    row-gap: 40px !important;
}

/*** Courbe du bottom du block "Les goûts" de la page Accueil ***/
.wp-block-columns.alignfull.custom-flavors-block-separator.has-ast-global-color-1-background-color.has-background.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex {
    border-bottom-right-radius: 400px 19px !important;
    border-bottom-left-radius: 400px 19px !important;
}

/*** Bouton ***/
.wp-block-button.has-custom-width.wp-block-button__width-25.has-custom-font-size.is-style-fill {
    width: 198px;
}

/** BLOCK 4: "Ce qu'ils en pensent" **/
.wp-block-column.is-vertically-aligned-top.customers-container.is-layout-flow.wp-block-column-is-layout-flow {
    max-width: 1171px;
}

.wp-block-group.customer-reviews-container.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex {
    row-gap: 100px;
    column-gap: 68px;
}

p.customer-1-text.has-ast-global-color-7-color.has-text-color, p.customer-2-text.has-ast-global-color-7-color.has-text-color.has-link-color, p.customer-3-text.has-ast-global-color-7-color.has-text-color.has-link-color {
    margin-bottom: 0;
}

/* PAGE "NOUS RENCONTRER" */
/** BLOCK 1: HERO **/
.wp-block-group.about-full-width-container.has-ast-global-color-1-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-2.wp-block-group-is-layout-flex {
    position: relative;
}

.wp-block-group.about-hero-container.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-1.wp-block-group-is-layout-flex {
    position: relative;
    width: 100%;
}

figure.wp-block-image.size-large.is-resized.about-hero-image {
    position: absolute;
    left: 10%;
    top: -40%;
}

p.has-text-align-center.about-text {
    width: 669px;
    padding-bottom: 9px !important;
}

/*** Courbe du bottom de la section  ***/
.wp-block-group.about-full-width-container.has-ast-global-color-1-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-2.wp-block-group-is-layout-flex {
    border-bottom-right-radius: 636px 72px !important;
    border-bottom-left-radius: 636px 72px !important;
}

/** BLOCK 2: "NOUS RENCONTRER" **/
.wp-block-group.team-container.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex, .wp-block-group.team-members-container.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-3.wp-block-group-is-layout-flex {
    position: relative;
}

.wp-block-group.team-members-container.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-3.wp-block-group-is-layout-flex {
    width: 100%;
}

figure.wp-block-image.size-large.is-resized.team-decorative-image {
    bottom: 0%;
    position: absolute;
    right: 0%;
}

/* FOOTER */
.site-above-footer-wrap[data-section="section-above-footer-builder"] .ast-builder-grid-row {
    max-width: 100%;
}

/** Photo du pied de page non affichée**/
.page-id-32 .site-above-footer-wrap[data-section="section-above-footer-builder"] {
    display: none;
}

/* FORMULAIRES */
/** FORMULAIRE DE CONTACT, page "Nous rencontrer"  **/
form.wpcf7-form.init {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-inputs-container {
    width: 383px;
    margin: auto;
}

.contact-form-name > span > input, .contact-form-email > span > input {
	width: 100%;
	height: 71px;
    border: 0;
}

.contact-form-message > span > textarea {
    height: 237px;
    border: 0;
}

.contact-form-inputs-container p {
    margin-bottom: 12px;
}

.contact-form-inputs-container p label {
    font-size: 20px;
}

/** Mise en place de l'Image décorative du formulaire de contact **/
.wp-block-group.alignfull.contact-form-wrapper.has-ast-global-color-1-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-6.wp-block-group-is-layout-flex {
    position: relative;
    width: 530px;
}

.wp-block-group.contact-form-container.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-5.wp-block-group-is-layout-flex {
    position: relative;
    width: 100%;
}

.contact-form-inputs-container {
    z-index: 10;
}

figure.wp-block-image.size-large.is-resized.contact-form-image {
    position: absolute;
    bottom: 14%;
    left: 1%;
    z-index: 5;
}


/** FORMULAIRE DE COMMANDE, page "Commander" **/
/** Titre "Commander" **/
h1.wp-block-heading.has-text-align-center.main-order-title.has-ast-global-color-5-color.has-text-color.has-link-color {
    padding-bottom: 40px;
}

.text-white {
    color: #ffffff;
}

.order-form-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px !important;
}

.order-form-text {
    font-size: 20px;
    font-weight: 400;
}

/** Conteneurs flex du formulaire de commande **/
.order-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0 !important;
}

/** Sections du formulaire **/
section.order-form-quantities-section, section.order-form-data-section {
    width: 860px;
}

/** Section "Votre commande" **/
section.order-form-quantities-section {
    padding-top: 40px;
    padding-bottom: 39px;
    border-top: 1px solid white;
}

/** Section "Vos informations / Livraison" **/
section.order-form-data-section {
    border-top: 1px solid white;
    padding-top: 53px;
}

.planty-flavours-container, .order-form-data-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 29px;
}

/** Conteneur des images **/
.planty-flavours-container > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0;
    flex: 1;
}

.planty-flavours-container > p > label {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    text-align: center;
}

.planty-flavours-container > p > span{
    margin-top: -50px;
}

.planty-flavours-container > p > span > input{
    margin: auto;
    display: block;
}

.flavour-label {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

input#form-img-1, input#form-img-2, input#form-img-3, input#form-img-4 {
    width: 39px;
    height: 56px;
    padding: 0;
    text-align: center;
    border-radius: 0;
}

input[type="number"]::placeholder {
  color: #000;
  font-family: inter;
}

/** Enlever les flèches d'incrémentation/décrémentation **/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

/** Inputs des sections "Vos informations" et "Livraison" **/
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.order-form-data-inputs, input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number {
    width: 383px;
    height: 71px;
    border-radius: 7px;
}

/** Conteneur avec les informations **/
.order-form-info, .order-form-delivery {
    display: flex;
    flex-direction: column;
}

.order-vertical-line {
    border: none;
    border-left: 1px solid #ffffff;
    height: auto;
}

/** Bouton Submit et Spinner du formulaire de contact et du formulaire de pré-commande**/
.order-form-container > p:last-child, .contact-form-inputs-container > p:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.order-form-container > p:last-child {
    margin-top: 44px;
}

.contact-form-inputs-container > p:last-child {
    margin-top: 24px;
}

.order-form-container > p:last-child span, .contact-form-inputs-container > p:last-child span {
    margin-top: 10px;
}


/* MEDIA QUERIES */
@media (max-width: 1406px) {
    /* PAGE "NOUS RENCONTRER" */
    /** BLOCK 1: "Nous rencontrer" **/
    .wp-block-group.about-full-width-container.has-ast-global-color-1-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-2.wp-block-group-is-layout-flex {
        padding-top: 80px !important;
    }

    figure.wp-block-image.size-large.is-resized.about-hero-image {
        position: static;
        order: 2;
    }

    .about-hero-image img.wp-image-128 {
        height: 120px;
    }

    /** BLOCK 2: "L'équipe" **/
    .wp-block-group.team-members-container.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-3.wp-block-group-is-layout-flex {
        padding-bottom: 0 !important;
    }

    figure.wp-block-image.size-large.is-resized.team-decorative-image {
        position: static;
    }

    .team-decorative-image > img.wp-image-378 {
        height: 160px;
    }
}

@media (min-width: 922px) {
    /* HEADER */
    .ast-container {
        max-width: 100%;
        padding: 0;
    }
}
@media (max-width: 921px) {
    /* TITLES */
    h1.wp-block-heading.has-text-align-center.main-home-title.has-ast-global-color-0-color.has-ast-global-color-1-background-color.has-text-color.has-background.has-link-color {
        font-size: 26px !important;
        padding-bottom: 135px !important;
    }

    h2.wp-block-heading.has-text-align-center.flavors-title.has-ast-global-color-4-color.has-text-color.has-link-color {
        padding-left: 37px;
        padding-right: 37px;
    }

    h3.wp-block-heading.has-text-align-center.flavors-subtitle.has-ast-global-color-7-color.has-text-color.has-link-color {
        padding-left: 37px;
        padding-right: 37px;
    }

    /* HEADER */
    /** Ouverture du menu burger dans la moitié droite de la largeur du dispositif **/
    .ast-header-break-point .ast-builder-menu-mobile .main-navigation {
        display: flex;
        justify-content: flex-end;
    }

    #ast-hf-mobile-menu {
        width: 50%;
        border-left: 4px solid #ece2da;
        border-top: 4px solid #ece2da;
    }
    /** Ouverture du bouton "commander" dans la moitié droite de la largeur du dispositif **/

    .ast-main-header-nav-open.ast-header-break-point #ast-desktop-header .ast-desktop-header-content, .ast-main-header-nav-open.ast-header-break-point .ast-mobile-header-wrap .ast-mobile-header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .ast-header-break-point .ast-header-button-1[data-section="section-hb-button-1"] {
        width: 50%;
        margin-bottom: 5px;
    }

    .ast-builder-button-wrap.ast-builder-button-size- {
        width: 100%;
    } 

    .ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button  {
    width: 100%;
    height: auto;
    padding-left: 36px;
    border-left: 4px solid #ece2da;
    border-bottom: 4px solid #ece2da;
    margin-left: 0;
    }
    /** BLOCK 3 "Les goûts" **/
    h3.wp-block-heading.has-text-align-center.flavors-subtitle.has-ast-global-color-7-color.has-text-color.has-link-color {
        width: 393px;
        margin: auto;
        padding-top: 15px;
    }

    /** BLOCK 4 "Ce qu'ils en pensent" **/
    .wp-block-group.customer-reviews-container.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex {
        row-gap: 60px;
    }

    .wp-block-columns.alignfull.are-vertically-aligned-top.customers-main-container.is-layout-flex.wp-container-core-columns-is-layout-4.wp-block-columns-is-layout-flex {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .wp-block-group.customer-reviews-container.is-content-justification-space-between.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex {
        flex-direction: column;
    }

    .wp-block-media-text.is-stacked-on-mobile.is-vertically-aligned-center.customer-1-container.wp-container-content-5 {
        width: 60%;
        align-self: flex-start;
    }

    .wp-block-media-text.is-stacked-on-mobile.is-vertically-aligned-center.customer-2-container.wp-container-content-6 {
        width: 60%;
        align-self: flex-end;
    }

    .wp-block-media-text.is-stacked-on-mobile.customer-3-container.wp-container-content-7 {
        width: 60%;
        align-self: flex-start;
    }

    .wp-block-media-text.is-stacked-on-mobile.is-vertically-aligned-center.customer-1-container.wp-container-content-5, .wp-block-media-text.is-stacked-on-mobile.is-vertically-aligned-center.customer-2-container.wp-container-content-6, .wp-block-media-text.is-stacked-on-mobile.customer-3-container.wp-container-content-7 {
    flex-basis: auto;
    }

    .wp-block-media-text.is-stacked-on-mobile.is-vertically-aligned-center.customer-1-container.wp-container-content-5 > figure, .wp-block-media-text.is-stacked-on-mobile.is-vertically-aligned-center.customer-2-container.wp-container-content-6 > figure, .wp-block-media-text.is-stacked-on-mobile.customer-3-container.wp-container-content-7 > figure {
        width: 135.86px;
    }

    /* PAGE "NOUS RENCONTRER" */
    /** BLOCK 1: "Nous rencontrer" **/
    h1.about-hero-title {
        font-size: 25px !important;
        word-spacing: 5px;
    }

    p.has-text-align-center.about-text {
        width: 100%;
    }

    /** FOOTER page "Nous rencontrer" **/
    .site-footer-above-section-1.site-footer-section.site-footer-section-1 {
        margin-bottom: 0 !important;
    }


    /* PAGE "COMMANDER": FORMULAIRE */
    /** Sections du formulaire **/
    section.order-form-quantities-section, section.order-form-data-section {
        width: 545px;
    }

    section.order-form-quantities-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    section.order-form-data-section {
        padding: 0;
    }

    .planty-flavours-container > p {
        flex: 1 1 40%;
    }

    .planty-flavours-container, .order-form-data-section {
        row-gap: 49px;
    }

    hr.order-vertical-line {
        display: none;
    }

    .order-form-info > p, .order-form-delivery > p {
        width: 545px;
    }

    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.order-form-data-inputs, input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number {
        width: 100%;
    }

    .order-form-quantities-section:first-child > p.text-white.order-form-title {
        
    }

    .order-form-info > p.text-white.order-form-title {
        padding-top: 40px;
    }

}

   
@media (max-width: 544px) {
    /* TITLES */
    /** Title page d'accueil **/
    h1.wp-block-heading.has-text-align-center.main-home-title.has-ast-global-color-0-color.has-ast-global-color-1-background-color.has-text-color.has-background.has-link-color {
        font-size: 25px !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 130px !important;
    }

    /** Title page "Nous rencontrer" **/
    h1.wp-block-heading.about-hero-title.has-ast-global-color-4-color.has-text-color.has-link-color {
        text-align: center;
    }

    h3.wp-block-heading.customer-1-title.has-ast-global-color-0-color.has-text-color, h3.wp-block-heading.customer-2-title.has-ast-global-color-0-color.has-text-color.has-link-color, h3.wp-block-heading.customer-3-title.has-ast-global-color-0-color.has-text-color.has-link-color {
        font-size: 22px !important;
    }   

    /* PAGE ACCUEIL*/
    /** BLOCK HERO **/
    p.plants-energy-text span {
        display: inline;
    }

    /** BLOCK 3: "les Goûts" **/
    .wp-block-column.is-vertically-aligned-center.flavors-container.is-layout-flow.wp-block-column-is-layout-flow {
        padding-left: 27px;
        padding-right: 27px;
    }

    h3.wp-block-heading.has-text-align-center.flavors-subtitle.has-ast-global-color-7-color.has-text-color.has-link-color {
        width: 100%;
    }

    /** BLOCK 4: "Ce qu'ils en pensent" **/
    .wp-block-columns.customer-reviews-container.is-layout-flex.wp-container-core-columns-is-layout-4.wp-block-columns-is-layout-flex {
        padding-left: 0;
        padding-right: 0;
    }

    .wp-block-group.customers-container.is-content-justification-space-between.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex {
        padding-left: 40px;
        padding-right: 40px;
    }

    p.customer-2-text.has-ast-global-color-7-color.has-text-color.has-link-color.wp-elements-2e640cfb4a7d2a905140b7ca9deed4ef {
        margin-bottom: 0;
    }

    p.customer-2-text.has-ast-global-color-7-color.has-text-color.has-link-color.wp-elements-2e640cfb4a7d2a905140b7ca9deed4ef > br {
        display: none;
    }

    /* PAGE "NOUS RENCONTRER" */
    p.has-text-align-center.about-text {
        width: 90%;
    }

    .wp-block-group.alignfull.contact-form-wrapper.has-ast-global-color-1-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-6.wp-block-group-is-layout-flex {
        width: 360px;
    }

    /** Formulaire de contact **/
    .contact-form-inputs-container {
        width: 80%;
    }

    figure.wp-block-image.size-large.is-resized.contact-form-image {
        display: none;
    }

    /* PAGE COMMANDER: FORMULAIRE */
    /** Sections du formulaire **/

    section.order-form-quantities-section, section.order-form-data-section {
        width: 360px;
    }

    .order-form-info > p, .order-form-delivery > p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .order-form-info > p, .order-form-delivery > p {
        width: 360px;
    }

    p.text-white.order-form-title {
        text-align: center;
        font-size: 20px;
    }

    .planty-flavours-container, .order-form-data-section {
        justify-content: center;
    }

    .planty-flavours-container > p {
        flex: 1 1 100%;
    }

    .planty-flavours-container > p > label {
        top: 39%;
        max-width: 250px;
    }

    .flavour-label {
        font-size: 32px;
        line-height: 1.5;
    }

    h1.wp-block-heading.has-text-align-center.main-order-title.has-ast-global-color-5-color.has-text-color.has-link-color {
        padding-bottom: 0px;
    }
}



@media (max-width: 360px) {
    /* HEADER */

    /** Menu burger: item "Nous rencontrer" **/
    .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {
        padding-left: 15px;
    }
    /** bouton "commander" menu burger **/
    .ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button  {
        padding-left: 15px;
    }
    /** bouton menu burger: texte "menu" **/
    .ast-mobile-header-wrap .menu-toggle .mobile-menu-wrap {
        margin-left: .1em;
    }
    [data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-wrap .mobile-menu {
        font-size: 11px;
    }

    /* TITLES */
    h1.wp-block-heading.has-text-align-center.main-home-title.has-ast-global-color-0-color.has-ast-global-color-1-background-color.has-text-color.has-background.has-link-color {
        padding-bottom: 80px !important;
    }

    h1.wp-block-heading.has-text-align-center.main-home-title.has-ast-global-color-0-color.has-ast-global-color-1-background-color.has-text-color.has-background.has-link-color, h1.wp-block-heading.about-hero-title.has-ast-global-color-4-color.has-text-color.has-link-color {
        font-size: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    h3.wp-block-heading.has-text-align-center.flavors-subtitle.has-ast-global-color-7-color.has-text-color.has-link-color.wp-elements-ee3108a25a40b87940b8a71db3b4d7a6 {
        font-size: 16px !important;
    }

    /* PARAGRAPHS */
    p.has-text-align-center.plants-energy-text {
        font-size: 16px !important;
    }

    /* PAGE ACCUEIL*/
    /** BLOCK 1: "Boisson énergisante 100% naturelle" **/
    .wp-block-columns.custom-header-separator.has-ast-global-color-1-background-color.has-background.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex {
        padding-top: 80px !important;
    }

    .wp-block-column.is-vertically-aligned-center.is-layout-flow.wp-block-column-is-layout-flow {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    /** BLOCK 3: "Les goûts" **/
    .wp-block-column.is-vertically-aligned-center.flavors-container.is-layout-flow.wp-block-column-is-layout-flow {
        padding-left: 30px;
        padding-right: 30px;
    }

    p.has-text-align-center.flavor-text.has-ast-global-color-5-color.has-text-color.has-link-color {
        font-size: 30px !important;
    }

    /** BLOCK 4 "Ce qu'ils en pensent" **/
    .wp-block-columns.customers-main-container.is-layout-flex.wp-container-core-columns-is-layout-4.wp-block-columns-is-layout-flex {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 70px !important;
    }

    h2.wp-block-heading.has-text-align-center.customers-main-title.has-ast-global-color-0-color.has-text-color.has-link-color {
        padding-bottom: 20px !important;
        text-align: center;
    }

    .wp-block-columns.customers-main-container.is-layout-flex.wp-container-core-columns-is-layout-4.wp-block-columns-is-layout-flex {
        padding-top: 50px !important;
    }

    p.customer-2-text.has-ast-global-color-7-color.has-text-color.has-link-color.wp-elements-2e640cfb4a7d2a905140b7ca9deed4ef {
        width: 150%;
    }

    /* PAGE "NOUS RENCONTRER" */
    .wp-block-group.alignfull.contact-form-wrapper.has-ast-global-color-1-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-6.wp-block-group-is-layout-flex {
        width: 100%;
    }

    .wp-block-group.about-full-width-container.has-ast-global-color-1-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-2.wp-block-group-is-layout-flex {
        padding-top: 50px !important;
    }

    .wp-block-group.team-container.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex {
        gap: 0;
    }

     /* PAGE COMMANDER: FORMULAIRE */
     .order-form-container {
        width: 310px;
    }

    section.order-form-quantities-section {
        width: 310px;
    }

    .order-form-container > p:last-of-type {
        margin-top: 30px;
    }

    h1.wp-block-heading.has-text-align-center.main-order-title.has-ast-global-color-5-color.has-text-color.has-link-color {
        font-size: 20px;
    }

    .order-form-info > p, .order-form-delivery > p {
        width: 310px;
    }

    /* FOOTER */
    /** Photo du pied de page  **/
    .wp-block-image.alignfull img, .wp-block-image.alignwide img {
        height: 65px;
        object-fit: cover;
    }
}