/* LIEN DU MENU ET DU FOOTER */
.main-header-menu > .menu-item > .menu-link:hover, #astra-footer-menu > .menu-item > .menu-link:hover {
    font-weight: 700;
}

/* HEADER */

/** BOUTON "commander" du header **/
header .ast-custom-button {
    width: 236px;
    height: 80px;
}


/* FOOTER */
.site-above-footer-wrap[data-section="section-above-footer-builder"] .ast-builder-grid-row {
    max-width: 100%;
}

/** Photo du pied de page non affichée**/
.page-id-32 .site-above-footer-wrap[data-section="section-above-footer-builder"] {
    display: none;
}

.wp-block-image.alignfull img, .wp-block-image.alignwide img {
    height: 131px;
}


/* FORMULAIRE DE COMMANDE */
.text-white {
    color: #ffffff;
}

.order-form-title {
    font-size: 30px;
    font-weight: 700;
}

.flavour-label {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.order-form-text {
    font-size: 20px;
    font-weight: 400;
}

/** Conteneurs flex du formulaire de commande **/
.order-form-container {
    width: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planty-flavours-container, .order-form-data {
    width: 860px;
    display: flex;
    justify-content: space-between;
}

.order-form-info, .order-form-delivery {
    display: flex;
    flex-direction: column;
}

.order-form-separator {
    border: none;
    border-top: 1px solid #ffffff;
    height: 1px;
}

.order-vertical-line {
    border: none;
    border-left: 1px solid #ffffff;
    height: auto;
}

/* MEDIA QUERIES */

@media (min-width: 922px) {
    /* HEADER */
    .ast-container {
        max-width: 100%;
        padding: 0;
    }
}
@media (max-width: 921px) {
    /* HEADER */
    /** Ouverture du menu burger dans la moitié droite de la largeur du dispositif **/
    .ast-header-break-point .ast-builder-menu-mobile .main-navigation {
        display: flex;
        justify-content: flex-end;
    }

    #ast-hf-mobile-menu {
        width: 50%;
        border-left: 4px solid #ece2da;
        border-top: 4px solid #ece2da;
    }
    /** Ouverture du bouton "commander" dans la moitié droite de la largeur du dispositif **/

    .ast-main-header-nav-open.ast-header-break-point #ast-desktop-header .ast-desktop-header-content, .ast-main-header-nav-open.ast-header-break-point .ast-mobile-header-wrap .ast-mobile-header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .ast-header-break-point .ast-header-button-1[data-section="section-hb-button-1"] {
        width: 50%;
        margin-bottom: 5px;
    }

    .ast-builder-button-wrap.ast-builder-button-size- {
        width: 100%;
    } 

    .ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button  {
    width: 100%;
    height: auto;
    padding-left: 36px;
    border-left: 4px solid #ece2da;
    border-bottom: 4px solid #ece2da;

    }

      /* FOOTER */
    /** Photo du pied de page  **/
    .wp-block-image.alignfull img, .wp-block-image.alignwide img {
        height: 85px;
        object-fit: cover;
    }
}

@media (max-width: 360px) {
    /* HEADER */

    /** Menu burger: item "Nous rencontrer" **/
    .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {
        padding-left: 15px;
    }
    /** bouton "commander" menu burger **/
    .ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button  {
        padding-left: 15px;
    }
    /** bouton menu burger: texte "menu" **/
    .ast-mobile-header-wrap .menu-toggle .mobile-menu-wrap {
        margin-left: .1em;
    }
    [data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-wrap .mobile-menu {
        font-size: 11px;
    }

    /* FOOTER */
    /** Photo du pied de page  **/
    .wp-block-image.alignfull img, .wp-block-image.alignwide img {
        height: 65px;
        object-fit: cover;
    }
}